#gameWindow {
    border: 1vw solid slategrey;
    width: 50vw;
    height: 50vw;
    margin-left: 22%;
    background-color: tomato;
    float: left;
    clear: both;
}
h1 {
    text-align: center;
    background-color: slategrey;
    color: tomato;
    box-shadow: 1vw 1vw;
}
h2 {
    text-align: center;
    color: tomato;
}

button {
        display: block;
        width : 20%;
        height: 10%;
        margin-left: 39%;
        margin-top: 1vw;
        background-color: slategrey;
        color: tomato;
        font-size: 2vw;
        float: left;
}